@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    background: #ebebeb;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #cccccc;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-nav {
    margin-left: auto;
}

.header-nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 40px;
    display: flex;
    align-items: center;
    transition: .3s;
}

nav ul li a:hover {
    color: #333;
    transform: scale(1.15);
}

.nav-icon {
    width: 25px;
    height: auto;
    display: block;
    object-fit: contain;
}



.site-logo {
    height: 4.5rem;
    width: auto;
    object-fit: contain;
    vertical-align: middle;
    margin-left: 8px;
}

.icon-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px; 
}

.icon-btn img {
    height: 36px;
    width: auto;
    object-fit: contain;
}


.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    font-weight: bold;
}

.logo:hover {
    color: #1a1a1a;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 25px;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}



.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 30px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #0000001b;
    text-align: center;
    transition: .3s;
}

.card i {
    font-size: 60px;
    color: #6B8E23;
}

.card h3 {
    font-size: 30px;
    margin: 15px 0;
}

.card p {
    font-size: 20px;
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    background: #6B8E23;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 22px;
    transition: .3s;
}

.card a:hover {
    background: #6B8E23;
}

.card:hover {
    transform: translateY(-5px);
}
